#backend 

backend/target/
backend/.mvn/
backend/files/
backend/build/
backend/.idea/
backend/.classpath
backend/.project
backend/.env
backend/readme.md


#frontend
frontend/node_modules/

frontend/build

frontend/.env
